.board{
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}

.fen{
  font-size: 28px;
}

.cell{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 2px solid black;
  text-align: center;
}

.white{
  background-color:bisque
}

.black{
  background-color: green
}

img{
  width: 100%;
}

.red_border{
  border: 2px red dashed;
}

